@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<div id="wrapper">
    <SfSidebar Width="220px" DockSize="72px" EnableDock="true" Position="@Position" Target="#wrapper" @ref="sidebar" @bind-IsOpen="SidebarToggle" HtmlAttributes="@htmlAttribute">
        <ChildContent>
            <div class="dock">
                <ul>
                    <!--<li class="sidebar-item" id="toggle" @onclick="@Toggle">
                        <span class="e-icons expand"></span>
                        <span class="e-text" title="menu">Menu</span>
                    </li>-->
                    <li class="sidebar-item">
                        <a href="/todo">
                        <span class="e-icons syncfusion-blazor-icon-word"></span>
                        <span class="e-text" title="home">Todos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/browse-documents">
                        <span class="e-icons syncfusion-blazor-icon-pdf"></span>
                        <span class="e-text" title="profile">Documents</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/offerings">
                            <span class="e-icons settings"></span>
                            <span class="e-text" title="settings">Daxko Programs</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/members">
                            <span class="e-icons syncfusion-blazor-icon-card"></span>
                            <span class="e-text" title="info">Daxko Members</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/daxkoapi">
                            <span class="e-icons syncfusion-blazor-icon-card"></span>
                            <span class="e-text" title="info">Daxko API</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </ChildContent>
    </SfSidebar>
</div>

@code {
    public SfSidebar? sidebar;
    public string Leftbtn = "Left";
    private SidebarPosition Position { get; set; }
    public bool SidebarToggle = false;
    
    public void Toggle()
    {
        Console.WriteLine("Sidebar Toggle called, current state: " + SidebarToggle);
        SidebarToggle = !SidebarToggle;
        Console.WriteLine("Sidebar Toggle new state: " + SidebarToggle);
        StateHasChanged();
    }
    
    Dictionary<string, object> htmlAttribute = new Dictionary<string, object>()
    {
        {"class", "dockSidebar" }
    };
} 