@page "/splitter-features"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Navigations
@using System.Text.Json

<style>
    /*
        To make the splitter take up the full page height, we need to remove the default body margin.
        The default Blazor layout might add other elements (like a top bar) which could cause a scrollbar
        when using 100vh. For a true full-page experience, you might need to adjust your main layout file.
    */
    body {
        margin: 0;
    }

    .content-container {
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .treeview-pane {
        height: 100%;
        overflow: auto;
        padding: 10px;
    }
</style>

<SfSplitter Height="100vh" Width="100%" Orientation="Syncfusion.Blazor.Layouts.Orientation.Horizontal">
    <SplitterPanes>
        <SplitterPane Size="40%">
            <ContentTemplate>
                <div class="treeview-pane">
                    <SfTreeView TValue="FileSystemNode">
                        <TreeViewFieldsSettings TValue="FileSystemNode" DataSource="@TreeData" Id="Id" ParentID="ParentId" Text="Name" HasChildren="HasChild" IconCss="IconCss"></TreeViewFieldsSettings>
                    </SfTreeView>
                </div>
            </ContentTemplate>
        </SplitterPane>
        <SplitterPane Size="60%">
            <ContentTemplate>
                <div class="content-container">
                    <h3>Right Pane</h3>
                    <p>(60%)</p>
                </div>
            </ContentTemplate>
        </SplitterPane>
    </SplitterPanes>
</SfSplitter>

@code {
    private List<FileSystemNode> TreeData = new();

    public class FileSystemNode
    {
        public string Id { get; set; }
        public string ParentId { get; set; }
        public string Name { get; set; }
        public bool HasChild { get; set; }
        public string IconCss { get; set; }
    }

    protected override void OnInitialized()
    {
        var jsonString = @"
{
  ""Programs"": { ""Camps"": { ""Summer Camps"": [ ""camps_dancelcamp.pdf"", ""camps_parkvillecamp.pdf"", ""camps_catonsvillecamp.pdf"", ""camps_wardcamp.pdf"", ""camps_hillcamp.pdf"", ""camps_pasadenacamp.pdf"", ""programs_generalinfoforms.pdf"" ], ""Indoor Camps"": [ ""camps_highlandscamp.pdf"" ], ""Day & Overnight Camp"": [ ""camps_camphashawha.pdf"" ], ""Camp Whippoorwill"": [ ""camps_campwhippoorwill.pdf"" ], ""Day and Overnight Camps"": [ ""camps_puhtok.pdf"" ], ""2025 Camp Locations"": [ ""programs_camplocations.pdf"" ], ""Overnight Camps"": [ ""programs_overnightcamps.pdf"" ], ""Teen Adventure Day Camp"": [ ""programs_teenleadershipcamps.pdf"" ], ""Specialty Day Camps"": [ ""programs_specialtycamps.pdf"" ], ""FAQs"": [ ""programs_ycampfaqs.pdf"" ], ""Outdoor Adventure Day Camps"": [ ""programs_outdooradventurecamps.pdf"" ], ""Day Camps"": [ ""programs_traditionaldaycamps.pdf"" ] }, ""Community Schools"": { ""Moravia Park Elementary"": [ ""locations_commoost_moraviapark.pdf"" ], ""Fort Worthington Elementary/Middle"": [ ""locations_commoost_fortworthington.pdf"" ], ""Graceland Park-O'Donnell Heights"": [ ""locations_commoost_gracelandparkodonnellheights.pdf"" ], ""Waverly Elementary"": [ ""locations_commoost_waverly.pdf"" ] }, ""Before & After School Enrichment"": { ""Harford County Locations"": [ ""area_harford-county.pdf"" ], ""Mechanicsville Elementary"": [ ""locations_beforeafterschoolenrichment_mechanicsville.pdf"" ], ""Monarch Global Academy"": [ ""locations_beforeafterschoolenrichment_monarchglobal.pdf"" ], ""Youth's Benefit Elementary"": [ ""locations_beforeafterschoolenrichment_youthsbenefit.pdf"" ], ""Jessup Elementary"": [ ""locations_beforeafterschoolenrichment_jessup.pdf"" ], ""Catonsville Elementary"": [ ""locations_beforeafterschoolenrichment_catonsville.pdf"" ], ""Clay Hill Public Charter School"": [ ""locations_beforeafterschoolenrichment_clayhill.pdf"" ], ""Red Pump Elementary"": [ ""locations_beforeafterschoolenrichment_redpump.pdf"" ], ""Churchville Elementary"": [ ""locations_beforeafterschoolenrichment_churchville.pdf"" ], ""Homestead-Wakefield Elementary"": [ ""locations_beforeafterschoolenrichment_homesteadwakefield.pdf"" ], ""Bel Air Elementary"": [ ""locations_beforeafterschoolenrichment_belair.pdf"" ], ""Rippling Woods Elementary"": [ ""locations_beforeafterschoolenrichment_ripplingwoods.pdf"" ], ""Lake Shore Elementary"": [ ""locations_beforeafterschoolenrichment_lakeshore.pdf"" ], ""Meadowvale Elementary"": [ ""locations_beforeafterschoolenrichment_meadowvale.pdf"" ], ""Riverside Elementary"": [ ""locations_beforeafterschoolenrichment_riverside.pdf"" ], ""George Cromwell Elementary"": [ ""locations_beforeafterschoolenrichment_georgecromwell.pdf"" ], ""Westowne Elementary"": [ ""locations_beforeafterschoolenrichment_westowne.pdf"" ], ""William Winchester Elementary"": [ ""locations_beforeafterschoolenrichment_williamwinchester.pdf"" ], ""Monarch Academy Glen Burnie"": [ ""locations_beforeafterschoolenrichment_monarchglenburnie.pdf"", ""locations_y-after-school-enrichment-monarch-academy-glenburnie.pdf"" ], ""Betty Sterner Y Preschool in Catonsville"": [ ""locations_beforeafterschoolenrichment_bettysternercatonsville.pdf"" ], ""Windsor Farm Elementary"": [ ""locations_beforeafterschoolenrichment_windsorfarm.pdf"" ], ""Prospect Mill Elementary"": [ ""locations_beforeafterschoolenrichment_prospectmill.pdf"" ], ""Monarch Academy Annapolis"": [ ""locations_beforeafterschoolenrichment_monarchannapolis.pdf"" ], ""Cranberry Station Elementary"": [ ""locations_beforeafterschoolenrichment_cranberrystation.pdf"" ], ""Robert Moton Elementary"": [ ""locations_beforeafterschoolenrichment_robertmoton.pdf"" ], ""Jacobsville Elementary"": [ ""locations_beforeafterschoolenrichment_jacobsville.pdf"" ] }, ""Head Start"": { ""Fleming Center"": [ ""locations_headstart_baltimorecounty_fleming.pdf"" ], ""Dickey Hill Center"": [ ""locations_headstart_baltimorecity_dickeyhill.pdf"" ], ""Campfield Center"": [ ""locations_headstart_baltimorecounty_campfield.pdf"" ], ""East Fayette Center"": [ ""locations_headstart_baltimorecity_eastfayette.pdf"" ], ""Back River Center"": [ ""locations_headstart_baltimorecounty_backriver.pdf"" ], ""Baltimore County - Towson"": [ ""locations_headstart_baltimorecounty_towson.pdf"" ], ""Baltimore City - Sherwood Center"": [ ""locations_headstart_baltimorecity_sherwood.pdf"" ], ""Baltimore City - West Preston Center"": [ ""locations_headstart_baltimorecity_westpreston.pdf"" ], ""Baltimore City - Belair Center"": [ ""locations_headstart_baltimorecity_belair.pdf"" ], ""Early Head Start - Kenwood Center"": [ ""locations_headstart_baltimorecounty_kenwood.pdf"" ], ""Lloyd Keaser Center"": [ ""locations_headstart_annearundel_lloydkeaser.pdf"" ], ""Randallstown Center"": [ ""locations_headstart_baltimorecounty_randallstown.pdf"" ], ""Sherman Early Childhood Center"": [ ""locations_y-head-start-sherman-early-childhood-center.pdf"" ], ""Riverview Center"": [ ""locations_headstart_baltimorecounty_riverview.pdf"" ], ""Early Head Start - Eastern Family Resource Center"": [ ""locations_y-head-startearly-head-start-eastern-family-resource-center.pdf"" ] }, ""Mentoring"": { ""Volunteer Opportunities"": [ ""volunteer_mentoring.pdf"" ] }, ""Early Head Start"": { ""Merritt Park Center II"": [ ""locations_y-early-head-start-merritt-park-center-ii.pdf"" ] }, ""Registration"": { ""Y Family Center Program Sessions"": [ ""register.pdf"" ] }, ""Financial Assistance"": { ""Y Open Doors Savings"": [ ""opendoors.pdf"" ] }, ""After School Programs"": { ""Y Achievers at the Weinberg Y in Waverly"": [ ""locations_outofschooltime_achievers.pdf"" ] }, ""Out-of-School Time"": { ""College Gardens"": [ ""locations_outofschooltime_collegegardens.pdf"" ], ""Johnston Square Elementary"": [ ""locations_outofschooltime_johnstonsquare.pdf"" ] }, ""Out-of-School-Time"": { ""Goodnow Community Center"": [ ""locations_outofschooltime_goodnow.pdf"" ] }, ""Community School Programs"": { ""Holabird Academy Elementary/Middle"": [ ""locations_commoost_holabirdacademy.pdf"" ] }, ""Group Exercise and Activities"": { ""Swimming and Climbing Schedules"": [ ""schedules.pdf"" ] }, ""Achievement Gap Intervention"": { ""Community Schools"": [ ""programs_achievementgap_communityschools.pdf"" ] }, ""Swimming"": { ""Swim Band Guidelines"": [ ""YCM%20Swim%20Guidelines%20By%20Age%20-%20Updated%202.26.25.pdf"" ] } }, ""Locations"": { ""YMCA Facilities"": { ""Dundalk Swim Center"": [ ""locations_dundalky.pdf"" ] }, ""Amenities"": { ""The Y in Ellicott City (Dancel)"": [ ""locations_dancely_amenities.pdf"" ] }, ""Dancel Y"": { ""Schedules"": [ ""locations_dancely_dancelschedules.pdf"" ] }, ""Howard County"": { ""The Y in Ellicott City (Dancel)"": [ ""area_howard-county.pdf"" ] }, ""Community Centers"": { ""Hill Y in Westminster"": [ ""locations_hilly.pdf"" ], ""Baltimore County"": [ ""area_baltimore-county.pdf"" ], ""OroKawa Y in Towson"": [ ""locations_orokaway.pdf"" ], ""Baltimore City"": [ ""area_baltimore-city.pdf"" ], ""Anne Arundel County"": [ ""area_anne-arundel-county.pdf"" ], ""The Y in Abingdon"": [ ""locations_wardy.pdf"" ], ""The Y in Parkville"": [ ""locations_parkvilley.pdf"" ] }, ""Preschools"": { ""Betty Sterner Y Preschool in Catonsville"": [ ""locations_ypreschoolcatonsville.pdf"" ], ""Y Preschool Towson"": [ ""locations_ypreschooltowson.pdf"" ] }, ""Community Schools"": { ""Reginald F. Lewis High Community School"": [ ""locations_communityschool_reginaldflewis.pdf"" ], ""Armistead Gardens Elementary"": [ ""locations_communityschool_armistead.pdf"" ], ""Patterson High"": [ ""locations_communityschool_pattersonhigh.pdf"" ], ""Achievement Academy"": [ ""locations_communityschool_achievementacademy.pdf"" ], ""Frederick Douglass High Community School"": [ ""locations_communityschool_frederickdouglass.pdf"" ], ""Academy for College & Career Exploration"": [ ""locations_communityschool_acce.pdf"" ] }, ""YMCA Centers"": { ""Maryland Locations"": [ ""locations.pdf"" ] }, ""YMCA Branches"": { ""The Y in Ellicott City"": [ ""locations_dancely.pdf"" ] }, ""Preschool"": { ""Y Preschool at UMBC"": [ ""locations_ypreschoolumbc.pdf"" ] } }, ""Information"": { ""Parent Manual"": { ""Stay & Play Overview"": [ ""Stay%20%26%20Play%20Parent%20Manual%20-%20Updated%204.7.25.pdf"" ] }, ""Contact"": { ""Contact Form"": [ ""contactus.pdf"" ] }, ""Member Handbook"": { ""Policies and Guidelines"": [ ""memberhandbook.pdf"" ] }, ""Contact Information"": { ""General Inquiries"": [ ""locations_dancely_https3A2F2Foperations.daxko.com2FOnline2F50362FMembership2FMemberAppointments.mvc.pdf"" ] }, ""General Info"": { ""Contact Information"": [ ""www.weatherbug.com.pdf"" ] } }, ""Membership"": { ""Join Information"": { ""Promotional Offers"": [ ""join.pdf"" ] }, ""Membership Options"": { ""Membership Types and Rates"": [ ""membership_membershipoptions.pdf"" ] } }, ""Forms"": { ""Application"": { ""Membership and Program Application"": [ ""2025OpenDoorsFormfill_ENG.pdf"" ] }, ""Camps"": { ""Medication Administration Authorization"": [ ""Camp_Medication%20Administration%20Authorization%20Form_072120.pdf"" ] }, ""Health Forms"": { ""Immunization Certificate"": [ ""Maryland%20ImmunizationForm.pdf"" ] } }, ""Get Involved"": { ""Volunteer Opportunities"": { ""Mentoring and Events"": [ ""locations_getinvolved.pdf"" ], ""Mentoring, Special Event Volunteer, Program Volunteer"": [ ""getinvolved.pdf"" ] } } }
        ";
        using var doc = JsonDocument.Parse(jsonString);
        ParseJsonToTree(doc.RootElement, null);
    }

    private void ParseJsonToTree(JsonElement element, string parentId)
    {
        foreach (var property in element.EnumerateObject())
        {
            var folderId = Guid.NewGuid().ToString();
            var hasChildren = (property.Value.ValueKind == JsonValueKind.Object && property.Value.EnumerateObject().Any()) ||
                                (property.Value.ValueKind == JsonValueKind.Array && property.Value.EnumerateArray().Any());

            TreeData.Add(new FileSystemNode
                {
                    Id = folderId,
                    ParentId = parentId,
                    Name = property.Name,
                    HasChild = hasChildren,
                    IconCss = "e-icons e-folder"
                });

            if (property.Value.ValueKind == JsonValueKind.Object)
            {
                ParseJsonToTree(property.Value, folderId);
            }
            else if (property.Value.ValueKind == JsonValueKind.Array)
            {
                foreach (var file in property.Value.EnumerateArray())
                {
                    var fileName = file.GetString();
                    if (string.IsNullOrEmpty(fileName)) continue;

                    TreeData.Add(new FileSystemNode
                        {
                            Id = Guid.NewGuid().ToString(),
                            ParentId = folderId,
                            Name = fileName,
                            HasChild = false,
                            IconCss = "e-icons e-file"
                        });
                }
            }
        }
    }
}
