@page "/"
@inject IPLURepository PLURepository

<PageTitle>POS</PageTitle>

<div class="container m-2">
@foreach (var button in _topList)
{
    <button type="button" class="@button.Cols @button.Rows" style="color:@button.Color.Name;background-color:@button.BgColor.Name">@button.Text</button>
}
</div>

@code{
    List<ButtonModel> _topList = new();

    protected override void OnParametersSet()
    {
        _topList = PLURepository.GetTopPage();
    }
}