<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.librarian.agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/macmyths/BlazorProjects/Librarian/Crawl/LibrarianAgent/bin/Release/net8.0/osx-x64/publish/LibrarianAgent</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/macmyths/Library/Logs/LibrarianAgent/error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/macmyths/Library/Logs/LibrarianAgent/output.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/macmyths/BlazorProjects/Librarian/Crawl/LibrarianAgent</string>
</dict>
</plist> 