@page "/splitter-features"
@rendermode InteractiveServer
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.FileManager
@using Syncfusion.Blazor.Navigations
@inject IJSRuntime JSRuntime

<PageTitle>Splitter</PageTitle>

<div class="splitter-container">
    <SfSplitter Height="100vh" Width="100%" Orientation="Syncfusion.Blazor.Layouts.Orientation.Horizontal">
        <SplitterPanes>
            <SplitterPane Size="40%">
                <ContentTemplate>
                    <div class="pane-content left-pane">
                        <h3>File Manager</h3>
                        <SfFileManager TValue="FileManagerDirectoryContent" 
                                      Height="calc(100vh - 100px)" 
                                      Width="100%"
                                      @ref="fileManager">
                            <FileManagerDataSourceSettings>
                                <FileManagerAjaxSettings Url="/api/FileManager/FileOperations" 
                                                       UploadUrl="/api/FileManager/Upload" 
                                                       DownloadUrl="/api/FileManager/Download" 
                                                       GetImageUrl="/api/FileManager/GetImage">
                                </FileManagerAjaxSettings>
                            </FileManagerDataSourceSettings>
                        </SfFileManager>
                    </div>
                </ContentTemplate>
            </SplitterPane>
            <SplitterPane Size="60%">
                <ContentTemplate>
                    <div class="pane-content right-pane">
                        <h3>Right Pane (60%)</h3>
                        <p>This is the right half of the page.</p>
                    </div>
                </ContentTemplate>
            </SplitterPane>
        </SplitterPanes>
    </SfSplitter>
</div>

@code {
    private SfFileManager<FileManagerDirectoryContent> fileManager;
}

<style>
    .splitter-container {
        height: 100vh;
        width: 100%;
    }
    
    .pane-content {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .left-pane {
        background-color: #f8f9fa;
    }
    
    .left-pane h3 {
        margin-bottom: 15px;
        color: #333;
        text-align: center;
    }
    
    .right-pane {
        background-color: #e9ecef;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .right-pane h3 {
        margin-bottom: 15px;
        color: #333;
    }
    
    .right-pane p {
        color: #666;
        font-size: 16px;
    }
</style>
