{
  "openapi": "3.0.0",
  "info": {
    "title": "Daxko Operations API",
    "description": "Daxko Operations API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://demo-api.partners.daxko.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Branches",
      "description": "The Branches API allows developers to retrieve information about an association's locations."
    },
    {
      "name": "Financials",
      "description": "The Financials API allows developers to view financial information and transactions for an association."
    },
    {
      "name": "Fundraising",
      "description": "The Fundraising API allows developers to manage fundraising and campaign data for an organization."
    },
    {
      "name": "Program Registration",
      "description": "The Program Registration Carts API is used to register a member for programs, packages, child care and camp."
    },
    {
      "name": "Members",
      "description": "The Member API retrieves member data in the context of the specific members."
    },
    {
      "name": "Membership",
      "description": "The Membership API allows members to join or renew at a branch."
    },
    {
      "name": "Partners",
      "description": "The Partners API allows retrieval of partner resources and authentication."
    },
    {
      "name": "Password Recovery",
      "description": "The Password Recovery API allows a member to reset their password if forgotten."
    },
    {
      "name": "Programs",
      "description": "The Programs API retrieves program data."
    },
    {
      "name": "Prospects",
      "description": "The Prospects API allows the management of an organization's prospects."
    },
    {
      "name": "Scheduling",
      "description": "The Scheduling API allows developers to manage the services, appointments and other scheduling features for Daxko Operations. Please note this is an additional module for Daxko Operations customers and not all clients may have it."
    },
    {
      "name": "Units",
      "description": "The Units API retrieves member unit data."
    },
    {
      "name": "Childwatch",
      "description": "The Childwatch API retrieves childcare data."
    }
  ],
  "paths": {
    "/branches/": {
      "get": {
        "operationId": "getBranches",
        "tags": [
          "Branches"
        ],
        "summary": "Get list of branches",
        "description": "Retrieves all branches for the association",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Details about a specific branch.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the branch.",
                        "example": "B42"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the branch.",
                        "example": "Downtown Branch"
                      },
                      "address1": {
                        "type": "string",
                        "description": "The branch's address.",
                        "example": "123 Main Street"
                      },
                      "address2": {
                        "type": "string",
                        "description": "The branch's secondary address, if available.",
                        "example": "Suite 600"
                      },
                      "city": {
                        "type": "string",
                        "description": "The branch's city.",
                        "example": "Birmingham"
                      },
                      "state": {
                        "type": "string",
                        "description": "The branch's state.",
                        "example": "AL"
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "The branch's postal code.",
                        "example": "35209"
                      },
                      "country": {
                        "type": "string",
                        "description": "The branch's country",
                        "example": "USA"
                      },
                      "branch_hours": {
                        "type": "object",
                        "required": [
                          "branch_hours_configured",
                          "branch_availability_status"
                        ],
                        "properties": {
                          "branch_hours_configured": {
                            "type": "bool",
                            "description": "Whether the branch hours are configured."
                          },
                          "branch_availability_status": {
                            "type": "object",
                            "description": "Whether the branch is open or closed and when that status will change."
                          },
                          "schedule": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "List of Open and Close times per day of the week for the branch."
                          },
                          "exceptions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "List of Branch Hours exceptions and their availability"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "branches": [
                      {
                        "id": "B1",
                        "name": "Branch 1",
                        "address1": "1234 Branch Lane",
                        "address2": "",
                        "city": "Homewood",
                        "state": "AL",
                        "zip_code": "35173",
                        "country": "US",
                        "branch_hours": {
                          "branch_hours_configured": true,
                          "branch_availability_status": {
                            "status": "closed",
                            "until_date_time": "2023-08-17T16:00:00.0000000"
                          },
                          "schedule": [
                            {
                              "day": "Sunday",
                              "open_and_close": [
                                {
                                  "open_time": "12:00:00",
                                  "close_time": "18:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Monday",
                              "open_and_close": [
                                {
                                  "open_time": "05:00:00",
                                  "close_time": "22:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Tuesday",
                              "open_and_close": [
                                {
                                  "open_time": "05:00:00",
                                  "close_time": "22:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Wednesday",
                              "open_and_close": [
                                {
                                  "open_time": "05:00:00",
                                  "close_time": "22:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Thursday",
                              "open_and_close": [
                                {
                                  "open_time": "05:00:00",
                                  "close_time": "22:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Friday",
                              "open_and_close": []
                            },
                            {
                              "day": "Saturday",
                              "open_and_close": [
                                {
                                  "open_time": "09:00:00",
                                  "close_time": "12:00:00"
                                },
                                {
                                  "open_time": "16:00:00",
                                  "close_time": "21:00:00"
                                }
                              ]
                            }
                          ],
                          "exceptions": [
                            {
                              "start_date_time": "2023-08-17T15:00:00.0000000",
                              "end_date_time": "2023-08-17T16:00:00.0000000",
                              "available": false
                            },
                            {
                              "start_date_time": "2023-08-20T14:00:00.0000000",
                              "end_date_time": "2023-08-20T15:00:00.0000000",
                              "available": false
                            },
                            {
                              "start_date_time": "2023-08-20T18:00:00.0000000",
                              "end_date_time": "2023-08-20T20:00:00.0000000",
                              "available": true
                            }
                          ]
                        }
                      },
                      {
                        "id": "B2",
                        "name": "Branch 2",
                        "address1": "45678 Branch Lane",
                        "address2": "",
                        "city": "Trussville",
                        "state": "AL",
                        "zip_code": "12345",
                        "country": "US",
                        "branch_hours": {
                          "branch_hours_configured": true,
                          "branch_availability_status": {
                            "status": "open",
                            "until_date_time": "2023-08-17T17:00:00.0000000"
                          },
                          "schedule": [
                            {
                              "day": "Sunday",
                              "open_and_close": [
                                {
                                  "open_time": "05:00:00",
                                  "close_time": "21:00:00"
                                }
                              ]
                            },
                            {
                              "day": "Monday",
                              "open_and_close": []
                            },
                            {
                              "day": "Tuesday",
                              "open_and_close": []
                            },
                            {
                              "day": "Wednesday",
                              "open_and_close": []
                            },
                            {
                              "day": "Thursday",
                              "open_and_close": []
                            },
                            {
                              "day": "Friday",
                              "open_and_close": []
                            },
                            {
                              "day": "Saturday",
                              "open_and_close": []
                            }
                          ],
                          "exceptions": [
                            {
                              "start_date_time": "2023-08-17T15:00:00.0000000",
                              "end_date_time": "2023-08-17T17:00:00.0000000",
                              "available": true
                            },
                            {
                              "start_date_time": "2023-08-19T18:00:00.0000000",
                              "end_date_time": "2023-08-19T21:00:00.0000000",
                              "available": true
                            }
                          ]
                        }
                      },
                      "..."
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}": {
      "get": {
        "operationId": "getBranchById",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch details",
        "description": "Returns details about an association's specific branch",
        "parameters": [
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "The ID of the branch.",
            "schema": {
              "type": "string",
              "example": "B42"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1branches~1/get/responses/200/content/application~1json/schema/items"
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/areas": {
      "get": {
        "operationId": "getBranchAreas",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch areas",
        "description": "Retrieves a list of all areas in a branch. Please note that a virtual branch cannot have areas and are thus excluded from this endpoint.",
        "parameters": [
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "The ID of the branch.",
            "schema": {
              "type": "string",
              "example": "B42"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "The total number of areas in the branch.",
                      "example": 1
                    },
                    "areas": {
                      "type": "array",
                      "description": "A list of areas in the branch.",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the area.",
                                "example": "A14"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the area.",
                                "example": "Area_1"
                              },
                              "is_childwatch": {
                                "type": "boolean",
                                "description": "Whether the area provides child-watch.",
                                "example": true
                              },
                              "age_restriction": {
                                "type": "boolean",
                                "description": "Whether the area has an age restriction.",
                                "example": true
                              },
                              "age_from": {
                                "type": "number",
                                "description": "The youngest a member can be to be allowed in the area.",
                                "example": 8
                              },
                              "age_to": {
                                "type": "number",
                                "description": "The oldest a member can be to be allowed in the area.",
                                "example": 14
                              },
                              "enforce_capacity": {
                                "type": "boolean",
                                "description": "Whether the capacity-tracking feature is enabled for the area.",
                                "example": false
                              },
                              "capacity": {
                                "type": "number",
                                "description": "The maximum capacity of the area.",
                                "example": 70
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "is_active": {
                                "type": "boolean",
                                "description": "Whether the area is active.",
                                "example": true
                              },
                              "is_checkout_allowed": {
                                "type": "boolean",
                                "description": "Whether the checkout feature is enabled.",
                                "example": true
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/current_capacity": {
      "get": {
        "operationId": "getBranchCurrentCapacity",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch current capacity",
        "description": "Retrieves real-time details about the branch's attendance, including how many people are currently checked in and whether the branch enforces a maximum on the number of people allowed at the facility.",
        "parameters": [
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "The ID of the branch.",
            "schema": {
              "type": "string",
              "example": "B42"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Details about the current capacity of a branch.",
                  "properties": {
                    "total_capacity": {
                      "type": "number",
                      "description": "The maximum number of individuals who are allowed to be at the branch at one time. If this value is null, it means the value has not been configured and capacity-tracking is not enabled.",
                      "example": 430
                    },
                    "enforce_capacity": {
                      "type": "boolean",
                      "description": "Whether the branch enforces a maximum number of individuals who are allowed to be checked in at the same time.",
                      "example": true
                    },
                    "currently_checked_in": {
                      "type": "number",
                      "description": "The total number of people who are currently checked in at the time of the request.",
                      "example": 43
                    },
                    "percentage": {
                      "type": "number",
                      "description": "The percentage of the capacity at the time of the request.",
                      "example": 10
                    },
                    "branch_checkout_enabled": {
                      "type": "boolean",
                      "description": "Whether the branch currently allows members to check out of the branch.",
                      "example": false
                    },
                    "auto_checkout_in_minutes": {
                      "type": "number",
                      "description": "If this value is set, a member will be automatically checked out after the configured period has elapsed following a check-in.",
                      "example": 120
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/fees": {
      "get": {
        "operationId": "getBranchFees",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch available fees",
        "description": "Retrieves a list of available fees in a branch. Please note that virtual branches cannot have fees and are thus excluded from this endpoint.",
        "parameters": [
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "The ID of the branch.",
            "schema": {
              "type": "string",
              "example": "B42"
            }
          },
          {
            "name": "fee_status",
            "in": "query",
            "required": false,
            "description": "Filters result on the enabled status of fees.",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "enabled",
                "disabled"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "description": "The page number of the response. If not included in request, its default value will be 1.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "The number of fees fetched per response, defaulting to 25.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "include_addons",
            "in": "query",
            "required": false,
            "description": "Whether to include Add-on fees in the response. By default, they are excluded.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "The total number of fees fetched on this page of the response.",
                      "example": 1
                    },
                    "fees": {
                      "type": "array",
                      "description": "A list of fees.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the fee.",
                            "example": 59384
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the fee.",
                            "example": "Cafeteria Plan Withholding"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the fee.",
                            "example": "Fees for Cafeteria"
                          },
                          "amount": {
                            "type": "string",
                            "description": "The amount of fee, formatted as money.",
                            "example": "$0.00"
                          },
                          "amount_value": {
                            "type": "string",
                            "description": "The amount of fee, formatted as decimal.",
                            "example": 0
                          },
                          "is_monthly_recurring": {
                            "type": "boolean",
                            "description": "Whether the fee is monthly recurring.",
                            "example": false
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "The status of the fee.",
                            "example": true
                          },
                          "sales_tax_applies": {
                            "type": "boolean",
                            "description": "Whether sales tax is applicable on the fee.",
                            "example": false
                          }
                        }
                      }
                    },
                    "has_more_records": {
                      "type": "boolean",
                      "description": "Whether there are more records on the next page.",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/sites": {
      "get": {
        "operationId": "getSitesByBranch",
        "summary": "Get sites by branch",
        "tags": [
          "Branches"
        ],
        "description": "Retrieves a list of sites associated with the branches.\n",
        "parameters": [
          {
            "name": "branch_ids",
            "in": "query",
            "required": true,
            "description": "Array of branch ids.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "B12,B11"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "required": false,
            "description": "If true, include inactive sites in the response.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sites": {
                      "type": "array",
                      "description": "A list of all the sites associated with branches",
                      "items": {
                        "type": "object",
                        "properties": {
                          "branch_id": {
                            "type": "string",
                            "description": "The ID of the branch with which site is associated.",
                            "example": "B21"
                          },
                          "branch_name": {
                            "type": "string",
                            "description": "The name of the branch with which site is associated.",
                            "example": "YMCA branch"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "The ID of the site.",
                            "example": "S01"
                          },
                          "site_name": {
                            "type": "string",
                            "description": "The name of the site.",
                            "example": "YMCA site"
                          },
                          "site_description": {
                            "type": "string",
                            "description": "The description of the site.",
                            "example": "YMCA site"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the site is active.",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/checkins": {
      "get": {
        "operationId": "getCheckInsByBranch",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch check-ins",
        "description": "Retrieves a list of check-ins in a branch within a particular date range.\n",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "The start date in UTC format.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2020-01-15"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "The end date in UTC format.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2020-01-31"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "The ID of the branch.",
            "schema": {
              "type": "string"
            },
            "example": "B27"
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records to be fetched.",
            "schema": {
              "type": "number"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "The total number of records returned.",
                      "example": 1
                    },
                    "checkins": {
                      "type": "array",
                      "description": "A list of all the check-ins within the date range.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "member_id": {
                            "type": "string",
                            "description": "The member ID of the member.",
                            "example": "300180933-01"
                          },
                          "member_name": {
                            "type": "string",
                            "description": "The name of the member.",
                            "example": "Adams, Adam"
                          },
                          "check_in": {
                            "type": "object",
                            "description": "The details of the check-in.",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "The date and time the member checked in in UTC format.",
                                "example": "2020-06-29T13:08:58.5900000Z"
                              },
                              "location": {
                                "type": "object",
                                "description": "Details about the checked-in location.",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of the branch.",
                                    "example": "B27"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "The type of the location.",
                                    "enum": [
                                      "branch"
                                    ],
                                    "example": "branch"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the branch.",
                                    "example": "Blocker/Norfolk Family YMCA"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/member-search": {
      "get": {
        "operationId": "full-member-search",
        "tags": [
          "Members"
        ],
        "summary": "Full member search",
        "description": "This endpoint allows for searching of an association's full active membership, which may be suitable for determining changes in members over a period of time and syncing of the entire membership. Please be aware that there may be a delay of up to 1 hour between when changes take place in Daxko Operations and the time they are reflected in this endpoint.",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "description": "The member's first name.",
            "schema": {
              "type": "string"
            },
            "example": "Atticus"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "description": "The member's last name.",
            "schema": {
              "type": "string"
            },
            "example": "Finch"
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "description": "The member's home phone number, in (xxx) xxx-xxxx format.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "The member's email address.",
            "schema": {
              "type": "string"
            },
            "example": "atticus.finch@example.com"
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "description": "The member's member ID.",
            "schema": {
              "type": "string"
            },
            "example": "123421-01"
          },
          {
            "name": "barcode",
            "in": "query",
            "required": false,
            "description": "The member's barcode.",
            "schema": {
              "type": "string"
            },
            "example": "123421-01"
          },
          {
            "name": "is_primary_member",
            "in": "query",
            "required": false,
            "description": "If provided, it will filter the records to those members who are either the primary member or not the primary member on the unit.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "description": "Whether to filter results to those that have been modified after the provided UTC timestamp",
            "schema": {
              "type": "string",
              "format": "datetime",
              "example": "2020-07-26T19:35:26Z"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The page over which to iterate records.",
            "schema": {
              "type": "number",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of items to return.",
            "schema": {
              "type": "number",
              "example": 25,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "format": "int32",
                      "description": "The total number or results returned.",
                      "example": 1
                    },
                    "has_more_records": {
                      "type": "boolean",
                      "description": "Whether there are more results available.",
                      "example": true
                    },
                    "members": {
                      "type": "array",
                      "description": "The results found.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "type": "string",
                            "description": "The platform from which the member information was retrieved.",
                            "example": "OPERATIONS"
                          },
                          "client_id": {
                            "type": "string",
                            "description": "The ID of the association to which the member belongs.",
                            "example": "2014"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The member's first name.",
                            "example": "Atticus"
                          },
                          "middle_name": {
                            "type": "string",
                            "description": "The member's middle name.",
                            "example": "H"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The member's last name.",
                            "example": "Finch"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The member's date of birth.",
                            "example": "1920-05-11T00:00:00+0000"
                          },
                          "gender": {
                            "type": "boolean",
                            "description": "The member's gender.",
                            "example": "Male"
                          },
                          "member_id": {
                            "type": "string",
                            "description": "The member's ID.",
                            "example": "143343-01"
                          },
                          "barcode": {
                            "type": "string",
                            "description": "The barcode value that is encoded by the member's membership card.",
                            "example": "123543-01"
                          },
                          "membership_type": {
                            "type": "string",
                            "description": "The member's membership type.",
                            "example": "Active Attorneys Level"
                          },
                          "is_primary_member": {
                            "type": "boolean",
                            "description": "Whether the member is the primary member on the unit.",
                            "example": true
                          },
                          "join_date": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The date the member first joined.",
                            "example": "1947-05-11T00:00:00+0000"
                          },
                          "most_recent_join_date": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The last time the member joined.",
                            "example": "1947-05-11T00:00:00+0000"
                          },
                          "phones": {
                            "type": "array",
                            "description": "A list of member phone numbers.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of phone number.",
                                  "enum": [
                                    "home",
                                    "cell",
                                    "office"
                                  ],
                                  "example": "Home"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "The phone full number.",
                                  "example": "(555) 555-5555"
                                }
                              }
                            }
                          },
                          "emails": {
                            "type": "array",
                            "description": "A list of member email addresses.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "primary"
                                  ],
                                  "description": "The type of email.",
                                  "example": "primary"
                                },
                                "email": {
                                  "type": "string",
                                  "description": "The member's email address.",
                                  "example": "atticus.finch@example.com"
                                }
                              }
                            }
                          },
                          "addresses": {
                            "type": "array",
                            "description": "A list of member addresses addresses.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "home"
                                  ],
                                  "description": "The type of address."
                                },
                                "address_1": {
                                  "type": "string",
                                  "description": "The first street part of the address."
                                },
                                "address_2": {
                                  "type": "string",
                                  "description": "The second street part of the address."
                                },
                                "city": {
                                  "type": "string",
                                  "description": "The city of the address."
                                },
                                "state": {
                                  "type": "string",
                                  "description": "The state of the address."
                                },
                                "zip_code": {
                                  "type": "string",
                                  "description": "The zip code of the address."
                                },
                                "country": {
                                  "type": "string",
                                  "description": "The country of the address."
                                }
                              }
                            }
                          },
                          "additional_properties": {
                            "type": "object",
                            "description": "Additional properties about the member.",
                            "properties": {
                              "unit_id": {
                                "type": "string",
                                "description": "The ID of the unit to which the member belongs.",
                                "example": "143343"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/": {
      "get": {
        "operationId": "member-search",
        "tags": [
          "Members"
        ],
        "summary": "Search for members",
        "description": "Searches for members based on the provided filters. A maximum of 100 members will be returned.",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "description": "The member's first name. If this is provided, the member's last name must also be provided.",
            "schema": {
              "type": "string"
            },
            "example": "Atticus"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "description": "The member's last name.",
            "schema": {
              "type": "string"
            },
            "example": "Finch"
          },
          {
            "name": "barcode",
            "in": "query",
            "required": false,
            "description": "The member's barcode.",
            "schema": {
              "type": "string"
            },
            "example": "12345-A"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "The member's home phone number. Please note that, when using this field in conjunction with the member's name or barcode, the returned results will emcompass any members that match either the phone number or any of those two fields.",
            "schema": {
              "type": "string"
            },
            "example": "(555) 555-5555"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "The member's email address.",
            "schema": {
              "type": "string"
            },
            "example": "atticus.finch@example.com"
          },
          {
            "name": "home_location_id",
            "in": "query",
            "required": false,
            "description": "The member's home-branch ID.",
            "schema": {
              "type": "string"
            },
            "example": "B73"
          },
          {
            "name": "membership_type_id",
            "in": "query",
            "required": false,
            "description": "The member's membership type ID.",
            "schema": {
              "type": "string"
            },
            "example": "MT61"
          },
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "description": "Whether to only return active members.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "preferred_name",
            "in": "query",
            "required": false,
            "description": "The member's preferred name.",
            "schema": {
              "type": "string"
            },
            "example": "Al"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "format": "int32",
                      "description": "The total number or results returned.",
                      "example": 1
                    },
                    "members": {
                      "type": "array",
                      "description": "The results found.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Indicates if the member has an active membership",
                            "example": true
                          },
                          "barcode": {
                            "type": "string",
                            "description": "The barcode value that is encoded by the member's membership card",
                            "example": "123543-01"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The member's date of birth",
                            "example": "1920-05-11T00:00:00+0000"
                          },
                          "emails": {
                            "type": "array",
                            "description": "A list of member addresses",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "default"
                                  ],
                                  "description": "The type of email",
                                  "example": "default"
                                },
                                "email": {
                                  "type": "string",
                                  "description": "The member's email address",
                                  "example": "atticus.finch@example.com"
                                }
                              }
                            }
                          },
                          "gender": {
                            "type": "object",
                            "description": "The member's gender",
                            "properties": {
                              "id": {
                                "type": "string",
                                "enum": [
                                  "M",
                                  "F"
                                ],
                                "description": "Standard format for gender type",
                                "example": "M"
                              },
                              "name": {
                                "type": "string",
                                "enum": [
                                  "Male",
                                  "Female"
                                ],
                                "description": "User-friendly name of gender",
                                "example": "Male"
                              }
                            }
                          },
                          "home_location": {
                            "type": "object",
                            "description": "The member's designated home location",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the location",
                                "example": "B144"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "branch"
                                ],
                                "description": "The type of the location",
                                "example": "branch"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the location",
                                "example": "Downtown Maycomb"
                              }
                            }
                          },
                          "join_date": {
                            "type": "string",
                            "format": "datetime",
                            "description": "The date the member first joined",
                            "example": "1947-05-11T00:00:00+0000"
                          },
                          "member_id": {
                            "type": "string",
                            "description": "The member's ID",
                            "example": "143343-01"
                          },
                          "member_type": {
                            "type": "string",
                            "description": "The member's membership type",
                            "example": "Active Attorneys Level"
                          },
                          "member_unit_id": {
                            "type": "string",
                            "description": "The member's unit ID",
                            "example": "132243"
                          },
                          "name": {
                            "type": "object",
                            "description": "The member's name",
                            "properties": {
                              "prefix": {
                                "type": "string",
                                "description": "The member's prefix",
                                "example": "Mr."
                              },
                              "first_name": {
                                "type": "string",
                                "description": "The member's first name",
                                "example": "Atticus"
                              },
                              "middle_name": {
                                "type": "string",
                                "description": "The member's middle name",
                                "example": "H"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "The member's last name",
                                "example": "Finch"
                              },
                              "suffix": {
                                "type": "string",
                                "description": "The member's suffix",
                                "example": "Esq."
                              },
                              "preferred_name": {
                                "type": "string",
                                "description": "The member's preferred name"
                              }
                            }
                          },
                          "phones": {
                            "type": "array",
                            "description": "A list of member phone numbers",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of phone number",
                                  "enum": [
                                    "home",
                                    "mobile",
                                    "emergency"
                                  ],
                                  "example": "Home"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "The phone full number",
                                  "example": "(555) 555-5555"
                                },
                                "allow_sms": {
                                  "type": "string",
                                  "description": "The SMS texting status of the phone number",
                                  "example": "Unverified"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{member_id}/program-recommendations": {
      "get": {
        "operationId": "getProgramRecommendationsForMember",
        "tags": [
          "Members"
        ],
        "x-private": false,
        "summary": "Get program recommendations.",
        "description": "This endpoint retrieves all of the program recommendations for a specific member. It sorts them based on the ranking that the recommender suggest for the specific. Please note that details about the names for the program is cached, and you may opt to look it up against the programs-details endpoint to get the latest name and details.\n",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "description": "The ID of the member.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4723647872-01"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "required": false,
            "example": "LOC_1",
            "description": "Optionally, the ID of the location, branch or site by which to filter results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "A collection of all the available program recommendations.",
                      "items": {
                        "type": "object",
                        "description": "Details about a specific program recommendation.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The ID of the program recommendatio.",
                            "example": 1234
                          },
                          "rank": {
                            "type": "number",
                            "description": "The program recommendation rank.",
                            "example": 1
                          },
                          "localDateTime": {
                            "type": "string",
                            "description": "The local date and time when the specific program instance.",
                            "example": "2024-01-18T17:49:39.141Z"
                          },
                          "expirationDate": {
                            "type": "string",
                            "description": "The expiration date for this recommendation.",
                            "example": "2024-01-22T00:00:00.000Z"
                          },
                          "program": {
                            "type": "object",
                            "description": "Details about the recommended program.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the program.",
                                "example": "22f9a0ae-3999-4f32-8dd4-1dd57ea6f69f"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the program.",
                                "example": "Yoga for the active crowd."
                              }
                            }
                          },
                          "template": {
                            "type": "object",
                            "description": "Details about the template associated with the program.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the template.",
                                "example": "a8b980de-a1ed-4be0-9338-749354577200"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the template.",
                                "example": "Yoga"
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "description": "Details about the location.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the location associated with the program.",
                                "example": "B123"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{member_id}": {
      "get": {
        "operationId": "getMemberDetails",
        "tags": [
          "Members"
        ],
        "summary": "Get member details",
        "description": "Retrieves detailed information about a specific member.",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member"
          },
          {
            "name": "include_addons",
            "in": "query",
            "required": false,
            "description": "If true, a list of addons associated with the member will be returned.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Indicates whether the member has an active membership"
                    },
                    "addresses": {
                      "type": "array",
                      "description": "A list of member addresses",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "home"
                            ],
                            "description": "The type of address"
                          },
                          "street1": {
                            "type": "string",
                            "description": "The first street part of the address"
                          },
                          "street2": {
                            "type": "string",
                            "description": "The second street part of the address"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city of the address"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state of the address"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zip code of the address"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country of the address"
                          }
                        }
                      }
                    },
                    "barcode": {
                      "type": "string",
                      "description": "The barcode value that is encoded by the member's membership card"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The member's date of birth"
                    },
                    "emails": {
                      "type": "array",
                      "description": "A list of member addresses",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "default"
                            ],
                            "description": "The type of email"
                          },
                          "email": {
                            "type": "string",
                            "description": "A member's email address"
                          }
                        }
                      }
                    },
                    "gender": {
                      "type": "object",
                      "description": "The member's gender",
                      "properties": {
                        "id": {
                          "type": "string",
                          "enum": [
                            "M",
                            "F"
                          ],
                          "description": "Standard format for gender type"
                        },
                        "name": {
                          "type": "string",
                          "enum": [
                            "Male",
                            "Female"
                          ],
                          "description": "User-friendly name of gender"
                        }
                      }
                    },
                    "home_location": {
                      "type": "object",
                      "description": "The member's designated home location",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the location"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "branch"
                          ],
                          "description": "The type of the location"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the location"
                        }
                      }
                    },
                    "join_date": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date the member first joined"
                    },
                    "member_id": {
                      "type": "string",
                      "description": "The member's ID"
                    },
                    "member_type": {
                      "type": "string",
                      "description": "The member's membership type"
                    },
                    "member_unit_id": {
                      "type": "string",
                      "description": "The member's unit ID"
                    },
                    "most_recent_join_date": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The date the member last joined"
                    },
                    "name": {
                      "type": "object",
                      "description": "The member's name",
                      "properties": {
                        "prefix": {
                          "type": "string",
                          "description": "The member's name prefix"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The member's first name"
                        },
                        "middle_name": {
                          "type": "string",
                          "description": "The member's middle name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The member's last name"
                        },
                        "suffix": {
                          "type": "string",
                          "description": "The member's name suffix"
                        },
                        "preferred_name": {
                          "type": "string",
                          "description": "The member's preferred name"
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "description": "A list of member phone numbers",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of phone number",
                            "enum": [
                              "home",
                              "mobile",
                              "emergency"
                            ]
                          },
                          "area_code": {
                            "type": "string",
                            "description": "The area code or prefix of the phone number"
                          },
                          "number": {
                            "type": "string",
                            "description": "The phone number"
                          },
                          "extension": {
                            "type": "string",
                            "description": "The extension of the phone number"
                          }
                        }
                      }
                    },
                    "photos": {
                      "description": "A list of member photos",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL of the member photo"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "thumbnail",
                              "regular"
                            ],
                            "description": "The type of member photo"
                          }
                        }
                      }
                    },
                    "health_screening_status_id": {
                      "type": "string",
                      "enum": [
                        "cleared",
                        "not_cleared"
                      ],
                      "description": "The type ID of member health screening status (available if client feature is enabled).",
                      "example": "cleared"
                    },
                    "health_screening_expiry_date": {
                      "type": "string",
                      "format": "datetime",
                      "description": "The expiry date of member health screening (available if client feature is enabled).",
                      "example": "2022-07-21T00:00:00.0000000"
                    },
                    "mark_as_deceased": {
                      "type": "boolean",
                      "description": "Indicates whether the member is deceased"
                    },
                    "addons": {
                      "type": "array",
                      "description": "The member's add-ons.",
                      "items": {
                        "type": "object",
                        "required": [
                          "type",
                          "email"
                        ],
                        "properties": {
                          "addon_id": {
                            "type": "string",
                            "description": "The id of the add-on.",
                            "example": "35"
                          },
                          "addon_name": {
                            "type": "string",
                            "description": "The name of the add-on.",
                            "example": "Facility Access - Unit"
                          },
                          "addon_type": {
                            "type": "string",
                            "description": "The type of add-on.",
                            "example": "Membership"
                          },
                          "addon_charge_type": {
                            "type": "string",
                            "description": "How the add-on is charged.",
                            "example": "By unit"
                          },
                          "addon_branch_id": {
                            "type": "string",
                            "description": "The branch ID to which the add-on is assigned.",
                            "example": "B27"
                          },
                          "addon_branch_name": {
                            "type": "string",
                            "description": "The branch to which the add-on is assigned.",
                            "example": "Downtown Branch"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMemberDetails",
        "tags": [
          "Members"
        ],
        "summary": "Update member details",
        "description": "Updates the specified member's profile.",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            },
            "example": "123424-24"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date_of_birth",
                  "gender",
                  "name"
                ],
                "properties": {
                  "addresses": {
                    "type": "array",
                    "description": "A list of member addresses to update.",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "street1",
                        "city",
                        "state",
                        "zip_code",
                        "country"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "home"
                          ],
                          "description": "The type of address",
                          "example": "home"
                        },
                        "street1": {
                          "type": "string",
                          "description": "The first street part of the address",
                          "example": "123 Elm. St."
                        },
                        "street2": {
                          "type": "string",
                          "description": "The second street part of the address",
                          "example": "Apt. 124"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city of the address",
                          "example": "Maycomb"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state of the address",
                          "example": "AL"
                        },
                        "zip_code": {
                          "type": "string",
                          "description": "The Zip code of the address",
                          "example": 36123
                        },
                        "country": {
                          "type": "string",
                          "description": "The country of the address",
                          "example": "USA"
                        }
                      }
                    }
                  },
                  "date_of_birth": {
                    "type": "string",
                    "format": "date",
                    "description": "The member's date of birth",
                    "example": "1920-12-31"
                  },
                  "emails": {
                    "type": "array",
                    "description": "A list of member addresses to be updated.",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "email"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "default"
                          ],
                          "description": "The type of email"
                        },
                        "email": {
                          "type": "string",
                          "description": "A member's email address",
                          "example": "boo.radley@example.com"
                        }
                      }
                    }
                  },
                  "gender": {
                    "type": "object",
                    "description": "The member's gender",
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "enum": [
                          "M",
                          "F"
                        ],
                        "description": "Standard format for gender member_type",
                        "example": "M"
                      }
                    }
                  },
                  "name": {
                    "type": "object",
                    "description": "The member's name",
                    "required": [
                      "first_name",
                      "last_name"
                    ],
                    "properties": {
                      "prefix": {
                        "type": "string",
                        "description": "The member's name prefix",
                        "enum": [
                          "Mr.",
                          "Ms.",
                          "Mrs.",
                          "Miss",
                          "Dr.",
                          "Rev.",
                          "Rab.",
                          "Can.",
                          "Hon."
                        ],
                        "example": "Mr."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The member's first name",
                        "example": "Boo"
                      },
                      "middle_name": {
                        "type": "string",
                        "description": "The member's middle name",
                        "example": "M"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The member's last name",
                        "example": "Radley"
                      },
                      "suffix": {
                        "type": "string",
                        "description": "The members' name suffix",
                        "enum": [
                          "Jr.",
                          "Sr.",
                          "I",
                          "II",
                          "III",
                          "IV",
                          "V"
                        ],
                        "example": "Sr."
                      }
                    }
                  },
                  "phones": {
                    "type": "array",
                    "description": "A list of member phone numbers to update",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "area_code",
                        "numbers"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of phone number",
                          "enum": [
                            "home",
                            "mobile",
                            "emergency"
                          ],
                          "example": "home"
                        },
                        "area_code": {
                          "type": "string",
                          "description": "The area code or prefix of the phone number",
                          "example": 555
                        },
                        "number": {
                          "type": "string",
                          "description": "The phone number",
                          "example": "555-5555"
                        },
                        "extension": {
                          "type": "string",
                          "description": "The extension of the phone number",
                          "example": "Ext. 514"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/members/{member_id}/member_type": {
      "put": {
        "operationId": "updateMemberType",
        "tags": [
          "Members"
        ],
        "summary": "Update member type",
        "description": "Update a member to `adult`, `child` or set as `primary`.\n",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "description": "The ID of the member.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4723647872-01"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "member_type"
                ],
                "properties": {
                  "member_type": {
                    "type": "string",
                    "enum": [
                      "adult",
                      "child",
                      "primary"
                    ],
                    "description": "The member type the member should be updated to."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/members/{member_id}/relationships": {
      "get": {
        "operationId": "getMemberRelationships",
        "tags": [
          "Members"
        ],
        "summary": "Get member relationships",
        "description": "Retrieves relationships for a member.\n\nFor example, if Robert is Susie's grandfather, then Susie would be listed in Robert's relationships with relationship, \nindicating Robert's relationship to Susie and whether Robert is authorized as a pickup for Susie.\n",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "description": "The ID of the member.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4723647872-01"
            }
          },
          {
            "name": "authorized_pickup",
            "in": "query",
            "description": "If provided, it will filter the results to only those for whom the member is designated as an authorized pickup.",
            "schema": {
              "type": "boolean",
              "default": null,
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "relationship_type_id",
            "in": "query",
            "description": "When provided, the query will filter to only the relationships for the provided ID.\n\nThe `relationship_type_id` should be a valid ID from [list-relationship types](#operation/getUnitRelationshipTypes)\n",
            "schema": {
              "type": "string",
              "example": "REL160"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "object",
                      "description": "The member's name.",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "The member's first name.",
                          "example": "Steve"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The member's last name.",
                          "example": "Rogers"
                        }
                      }
                    },
                    "source_id": {
                      "type": "string",
                      "description": "The source ID of the member.",
                      "example": "RELMEM1234567"
                    },
                    "unit_id": {
                      "type": "string",
                      "description": "The member's unit ID.",
                      "example": 4723647872
                    },
                    "member_type": {
                      "type": "string",
                      "description": "The member's membership type.",
                      "example": "Adult"
                    },
                    "relationships": {
                      "type": "array",
                      "description": "The relationships associated with the member.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Id of the relationship.",
                            "example": "RELMEM3"
                          },
                          "member_id": {
                            "type": "string",
                            "description": "The ID of the related member.",
                            "example": "4723647872-02"
                          },
                          "name": {
                            "type": "object",
                            "description": "The name of the related member.",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "The first name of the related member.",
                                "example": "Bruce"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "The last name of the related member.",
                                "example": "Banner"
                              }
                            }
                          },
                          "contact": {
                            "type": "object",
                            "description": "Contact information of the related member.",
                            "properties": {
                              "phone": {
                                "type": "string",
                                "description": "The phone of the related member.",
                                "example": "(555) 555-5555"
                              },
                              "email": {
                                "type": "string",
                                "description": "The email of the related member.",
                                "example": "bruce.banner@example.com"
                              }
                            }
                          },
                          "relationship_type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the relationship type.",
                                "example": "REL160"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the relationship type.",
                                "example": "friend"
                              }
                            }
                          },
                          "authorized_pickup": {
                            "type": "boolean",
                            "description": "Whether the member is an authorized pickup for the related member.",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{member_id}/online_account": {
      "get": {
        "operationId": "getMemberOnlineAccount",
        "tags": [
          "Members"
        ],
        "summary": "Get member online account",
        "description": "Retrieves  the username of a member.",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": "The member's username",
                      "example": "jdoe"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{member_id}/notes": {
      "post": {
        "operationId": "createMemberNote",
        "tags": [
          "Members"
        ],
        "summary": "Add member note",
        "description": "Add a note to a member's account.",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "note_type",
                  "note",
                  "author"
                ],
                "properties": {
                  "note_type": {
                    "type": "string",
                    "description": "The type of note",
                    "enum": [
                      "Affiliations",
                      "Aquatics",
                      "Bad Debt",
                      "Behavior",
                      "Billing",
                      "Childcare",
                      "Employment",
                      "Financial Assistance",
                      "General",
                      "Guest Passes",
                      "Impact Driver",
                      "Interests",
                      "Legacy Data",
                      "Medical",
                      "Membership",
                      "NPS",
                      "Staff Action",
                      "Volunteer"
                    ],
                    "example": "Volunteer"
                  },
                  "note": {
                    "type": "string",
                    "description": "The content of the note",
                    "example": "This is the greatest note in the history of notes, so says I."
                  },
                  "author": {
                    "type": "string",
                    "description": "The name of the note's author",
                    "example": "Yours truly"
                  },
                  "notify_from": {
                    "type": "string",
                    "description": "The start date for displaying the note",
                    "example": "2020-06-16"
                  },
                  "notify_to": {
                    "type": "string",
                    "description": "The end date for displaying the note",
                    "example": "2020-06-20"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation succeeded",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getMemberNotes",
        "tags": [
          "Members"
        ],
        "summary": "Get member notes",
        "description": "Retrieves a list of all notes for a member.\n",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "description": "The ID of the member.",
            "schema": {
              "type": "string",
              "example": "300180263-02"
            }
          },
          {
            "name": "note_types",
[...]
